<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10861033062-cqqltdg3t8vge8c7vu5mat4jls6vjfv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10861033062-cqqltdg3t8vge8c7vu5mat4jls6vjfv3</string>
	<key>API_KEY</key>
	<string>AIzaSyB5kL8P1NTkhHcp9rtOzoOXHopbI7DJxe0</string>
	<key>GCM_SENDER_ID</key>
	<string>10861033062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginApp</string>
	<key>PROJECT_ID</key>
	<string>login-app-41bbc</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-41bbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10861033062:ios:1c28acfe1aec2fe5b79fa7</string>
</dict>
</plist>